@model ShopBridgeModel.ProductModel

@{
    ViewBag.Title = "GetProduct";
}

<h2>GetProduct</h2>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Product_Id)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Product_Id)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Product_Categories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Categories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_MFG_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_MFG_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateProduct", new {ProductId = Model.Product_Id}) |

    @Html.ActionLink("Back to DashBoard", "GetAllProduct")
</p>
